<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.facebook.com/profile.php?id=100088111282938&mibextid=ZbWKwL" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="https://instagram.com/waglogy?igshid=ZDdkNTZiNTM=" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Waglogy
                    </h6>
                    <p>
                Is a company that provide and fulfills your dream <a href="#" >websites</a> so your business can expand more.</p>
  </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        services
                    </h6>
                    <p>
                        <a href="/services" class="text-reset">web devlopment</a>
                    </p>
                    <p>
                        <a href="/services" class="text-reset">web-app</a>
                    </p>
                    
                    <p>
                        <a href="/services" class="text-reset">graphic designing</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="/services" class="text-reset">Services</a>
                    </p>
                    <p>
                        <a href="/about" class="text-reset">About</a>
                    </p>
                    <p>
                        <a href="/contact" class="text-reset">Contact</a>
                    </p>
                    <p>
                        <a href="/privicy" class="text-reset">Terms & Condition</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Chesopani,south sikkim 737121</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        waglogy01@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 91 9733814168</p>
                    <p><i class="fas fa-print me-3"></i> + 91 629676187</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="/">@waglogy.com</a>
        Devloped by @waglogy
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->