<header class="header">
    {{!-- <a href="" class="logo"><img src="/images/logo.png" alt="Error"></a> --}}
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="./html/about.html" target="_blank">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="./html/contact.html" target="_blank">Contact</a></li>
        <li><a href="#contact">StudentCorner</a></li>
    </ul>
</header>

<div id="nav-toggle" class="menu-icon">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>