
{{>header}}



<div class="hero">

    <img style="margin-bottom: 30px;" src="/images/hero.jpg" class="img-fluid" alt="...">




</div>

<h3 style="padding-left:30px ;"><b>Who are we ?</b></h3>

<div style="padding-left:30px ; padding-right:30px;">
    <a href="/">Waglogy</a>
    <p>Is a company that provide and fulfills your dream <a href="#">websites</a> so your business can expand more.</p>
</div>

<br>
<h3 style="padding-left:30px ;"><b>What we do?</b></h3>

<div style="padding-left:30px ; padding-right:30px;">
    <a href="/services">Website Designing</a>
    <p>Websites are soul of your business. It is finest way of
        reaching customers all over. <a href="/">Waglogy</a> is here to help you by creating user friendly responsive
        websites,
        so that your vision of creating successful business is brought true. We help you to bring your vision to life.
    </p>
</div>
<h3 style="padding-left:30px ;"><b>UI/UX</b></h3>
<div style="padding-left:30px ; padding-right:30px;">

    <a href="/">Wagology</a>
    <p> ensure website we design are tested against risk of failures and vulnerabilities.
        Why go berserk searching for developer all around, Wagology is here from your area to design website in
        reasonable price.
        <a href="/">See what our client says about us.</a>
    </p>
</div>
 



<div style="padding-left:30px ; padding-right:30px;">
    <p>We develop website that are immersive, responsive (for both     desktop and mobile) and lucid.
        <a href="/">Wagology</a> ensure website we design are tested against risk of failures and vulnerabilities.
        Why go berserk searching for developer all around, Wagology is here from your area to design <a href="/services">website
        </a>in reasonable price.
        <a href="/">See what our clients says about us</a>
        Web maintenance
        The regular web maintenance is helpful for SEO (Search Engine Optimization) and provides best experience to
        customers visiting your website. Although you understand it is vitally important to maintain and customize
        frequently. For your support best of minds at Wagology are available provide personal assistance to your
        queries. We will definitely keep your website up to date and will offer wide range of services.
        <br>
        Marketing
        We ensure with our best minds, Wagology to come up with best simple solution for your complex business needs.
    </p>
</div>

<h3 style="padding-left:30px ;"><b>Graphic Designing</b></h3>
<div style="padding-left:30px ; padding-right:30px;">
    <p> we truly believe great design can effectively grip the charisma of a business and make ways for a brand success
        story</p>
    <a href="/">Wagology</a>
    <p>a leading digital design group, where we help brands stand up, stand out and stand for something. We help brands
        to connect with the outer world through wonderful design experiences. </p>
    <a href="/">See what our client says about us.</a> </p>
</div>
<h3 style="padding-left:30px ;"><b>Who are our targeted audience?</b></h3>
<div style="padding-left:30px ; padding-right:30px;">
    <p>
        our main targeted audience is small business owners who needs website to do their work but deosnot generate hard
        revenue to pay so <a href="/services">we</a> are here to make sure you get what you pay for.
        <br>
        However we also work for large scale companies and also do large projects.
    </p>


    <h6 style="padding-left:30px ;"><b><q>Thank you for visiting us happy to serve you</q><i>- Abhishek Adhikari
                Developer </i> <a href="/">@waglogy</a></b></h6>



    {{>footer}}
