{{>header}}

{{!-- <div class="c-form">
  <form>


    <div class="form-outline mb-4">
      <input type="name" id="form3Example3" class="form-control" />
      <label class="form-label" for="form3Example3">Name</label>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" />
      <label class="form-label" for="form3Example3">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="number" id="form3Example4" class="form-control" />
      <label class="form-label" for="form3Example4">Phone No</label>
    </div>



    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

    <!-- Register buttons -->
    <div class="text-center">

      <i class="fab fa-facebook-f"></i>
      </button>

      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>

      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>

      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>
</div>  --}}
<div class="hero">

    <img style="margin-bottom: 30px;" src="/images/contact.png" class="img-fluid" alt="...">

</div>

<!--Section: Contact v.2-->
<div class="c-form">
  <section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
      directly. Our team will come back to you within
      a matter of hours to help you.</p>

    <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
        <form id="contact-form" name="contact-form" action="/api/contact" method="POST">

{{#each alert}}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{this.msg}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
{{/each}}
                    {{!-- message --}}


          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                 <label for="name" class="">Your name</label>
                <input type="text" id="name" name="name" class="form-control">
               
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="email" class="">Your email</label>
                <input type="text" id="email" name="email" class="form-control">
                
              </div>
              <div class="md-form mb-0">
                <label for="number" class="">Your Number</label>
                <input type="number" id="number" name="number" class="form-control">
                
              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-12">

              <div class="md-form">
                <label for="message">Your message</label>
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                
              </div>

            </div>
          </div>
          <!--Grid row-->
          <br>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>

        <div class="text-center text-md-left">
          {{!-- <a id="button" class="btn btn-primary"
            onclick="document.getElementById('contact-form').submit();">Send</a> --}}
        </div>
        <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li><i class="fas fa-map-marker-alt fa-2x"></i>
            <p>Chesopani ,Namchi District,Sikkim India</p>
          </li>

          <li><i class="fas fa-phone mt-4 fa-2x"></i>
            <p>+ 91 9733 8141 68</p>
          </li>

          <li><i class="fas fa-envelope mt-4 fa-2x"></i>
            <p>contact@waglogy.com</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

    </div>

  </section>
</div>
<!--Section: Contact v.2-->

{{!-- form end here --}}


{{!-- map start here --}}
<div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem;">

    <div class="card map-card">
      <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3550.3362108648253!2d88.29959231443908!3d27.145709983027817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e429bddf391c81%3A0xce3f453c207a3ebf!2sWaglogy!5e0!3m2!1sen!2sin!4v1669871420386!5m2!1sen!2sin"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="card-body closed px-0">
        <div class="button px-2 mt-3">
          <a class="btn btn-floating btn-lg living-coral text-white float-end" style="margin-right: .75rem;"><i
              class="fas fa-bicycle"></i></a>
        </div>
        <div class="bg-white px-4 pb-4 pt-3-5">
          <h5 class="card-title h5 living-coral-text">Waglogy</h5>
          <div class="d-flex justify-content-between living-coral-text">
            <h6 class="card-subtitle font-weight-light">One Step Tech Solution</h6>
            <h6 class="font-small font-weight-light mt-n1"> </h6>
          </div>
          <hr>
          <div class="d-flex justify-content-between pt-2 mt-1 text-center text-uppercase living-coral-text">
            <div>
              <i class="fas fa-phone fa-lg mb-3"></i>
              <p class="mb-0">One Step</p>
            </div>
            <div>
              <i class="fas fa-cat fa-lg mb-3"></i>
              <p class="mb-0">Tech</p>
            </div>
            <div>
              <i class="far fa-grin-beam-sweat fa-lg mb-3"></i>
              <p class="mb-0">Solution</p>
            </div>
          </div>
          <hr>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row" class="px-0 pb-3 pt-2">
                  <i class="fas fa-map-marker-alt living-coral-text"></i>
                </th>
                <td class="pb-3 pt-2">Chesopani,Namchi District,Sikkim India</td>
              </tr>
              <tr class="mt-2">
                <th scope="row" class="px-0 pb-3 pt-2">
                  <i class="far fa-clock living-coral-text"></i>
                </th>
                <td class="pb-3 pt-2"><span class="deep-purple-text me-2"></span> Always Open</td>
              </tr>
              <tr class="mt-2">
                <th scope="row" class="px-0 pb-3 pt-2">
                  <i class="fas fa-cloud-moon living-coral-text"></i>
                </th>
                <td class="pb-3 pt-2">Sunny weather tomorrow</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>
</div> 
{{!-- map ends here --}}
{{>footer}} 