<h1>Feedbacks: </h1>
<br><br><br><br><br>
<p>{{data}}</p>
<br><br><br><br><br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3550.3139158005592!2d88.30074030290223!3d27.14641170560646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce3f453c207a3ebf!2sWaglogy!5e0!3m2!1sen!2sin!4v1669906623007!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>