{{>header}}

<div class="hero">

    <img style="margin-bottom: 20px;" src="/images/hero.png" class="img-fluid" alt="...">



</div>

<div style="padding-top: 30px; margin-left: 30px; margin-right: 30px;" class="card">
    <div class="card-header">
        <div class="col-md-8 col-center m-auto">
            <h2>About waglogy</h2>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Who are we ?</h5>
        <p class="card-text">
            Wagology
            Is a company that provide and fulfills your dream websites so your business can expand more.<br>

            <a href="/about">What we do?</a><br>

            Website Designing
            Websites are soul of your business. It is finest way of reaching customers all over.
            Wagology is here to help you by creating user friendly responsive websites, so that your vision of creating
            successful business is brought true.
            We help you to bring your vision to life. <a href="/about">See More</a>
    </div>
</div>
<br>
<div style=" margin-left: 30px; margin-right: 30px;" class="hero">

    <img style="margin-bottom: 30px;" src="/images/webandseo.png" class="img-fluid" alt="...">

</div>


<div class="col-md-8 col-center m-auto">
    <h2>Our Services</h2>
</div>

<div style="margin: 30px;" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="/images/webdev.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Web developent</h5>
                <p class="card-text">We develop website that are immersive, responsive (for both desktop and mobile) and
                    lucid.<a href="/services">Wagology </a>ensure website we design are tested against risk of failures
                    and vulnerabilities.
                    Why go berserk searching for developer all around, Wagology is here from your area to design website
                    in reasonable price.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/images/webapp.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Web-app development</h5>
                <p class="card-text">Our web application development services include design and development, testing,
                    and support and maintenance. Along with that, our experienced web app developers also help you in
                    technology consultation,
                    modernizing legacy architectures, and migrating to new <a href="/services">web</a> architecture.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/images/Graphic-Designer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Graphic designing </h5>
                <p class="card-text"> we truly believe great design can effectively grip the charisma of a <a
                        href="/services">business </a> and make ways for a brand success story. We are a leading digital
                    design group, where we help brands stand up, stand out and stand for something.
                    We help brands to connect with the outer world through wonderful design experiences</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
<div style="padding-left:40px ; padding-right:40px;"><q><i>We ensure with our best minds ,
            Wagology to come up with best simple solution for
            your complex business needs.</i> </q>
</div>


<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/services">See More Services</a>


</div>

<br>
<div class="col-md-8 col-center m-auto">
    <h2>Our Team</h2>
</div>

<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/bhuprof.jpeg" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Bhupesh Sharma</h5><span class="small text-uppercase text-muted"> Founder &
                    Devloper</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.facebook.com/bhupesh.sharma.90663894"
                            class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/Bhupesh2sharma" class="social-link"><i
                                class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com/its_bhupesh_xrma?igshid=ZDdlNDJhZDc="
                            class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/bhupesh-sharma-62189b226"
                            class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->



        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/abhiprof-removebg-preview.png" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Abhisek Adhikari</h5><span class="small text-uppercase text-muted"> Founder &
                    Devloper</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a
                            href="https://www.facebook.com/profile.php?id=100088111282938&mibextid=ZbWKwL"
                            class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/abhisekadhikari" class="social-link"><i
                                class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com/waglogy?igshid=ZDdkNTZiNTM="
                            class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/abhisek06?t=oP0_GuuIv97o4-teQUDjbw&s=09"
                            class="social-link"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->



        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/roshanpfof-removebg-preview.png" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Roshan Chhetri</h5><span class="small text-uppercase text-muted">Content
                    writer/devloper &
                    graphic Designer</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a
                            href="https://www.facebook.com/roshan.chhetri.127648?mibextid=ZbWKwL" class="social-link"><i
                                class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="//github.com/Terabro" class="social-link"><i
                                class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/roshan-chhetri-b21414258"
                            class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com/star._._.dust?igshid=Mzc0YWU1OWY="
                            class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->


        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/prayeshprof-removebg-preview.png" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Prayash Sharma</h5><span class="small text-uppercase text-muted"> content writer &
                    Devloper</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a
                            href="https://www.facebook.com/profile.php?id=100088111282938&mibextid=ZbWKwL"
                            class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/prayashh" class="social-link"><i
                                class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com/waglogy?igshid=ZDdkNTZiNTM="
                            class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/abhisek06?t=oP0_GuuIv97o4-teQUDjbw&s=09"
                            class="social-link"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
    </div>
</div>

{{!-- team --}}

<img style="margin-bottom: 30px;" src="/images/offer.png" class="img-fluid" alt="...">


{{!-- feedback --}}
<div class="c-form">
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Leave Your Feedback</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Leave your valuable feedback ,so that we can serve
            you a better service . Your feedback helps us to serve you better.</p>

        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="/api/feedback" method="POST">


                    {{!-- message --}}
                    {{#each alert}}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{this.msg}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/each}}
                    {{!-- message --}}


                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="name" class="">Your name</label>
                                <input type="text" id="name" name="name" class="form-control" autocomplete="no">

                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="email" class="">Your email</label>
                                <input type="text" id="email" name="email" class="form-control" autocomplete="no">

                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->


                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <label for="message">Your message</label>
                                <textarea type="text" id="message" name="message" rows="3"
                                    class="form-control md-textarea"></textarea>

                            </div>

                        </div>
                    </div>
                    <br>
                    <!--Grid row-->
                    <button type="send" class="btn btn-primary">Send</button>
                </form>
                <br>
                {{!-- <div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                </div> --}}
                <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Chisopani ,Namchi District,Sikkim India</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 91 9733 8141 68</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <a href="mailto: contact@waglogy.tech">
                            <p>contact@waglogy.tech</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </section>
</div>



{{!-- testimonial --}}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-center m-auto">
            <h2>Testimonials</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="img-box"><img src="\images\proftest.jpeg" alt=""></div>
                        <p class="testimonial">I just wanted to share a quick note and let you know that you guys do a
                            really good job. I'm glad I decided to work with you. It's really great how easy your
                            websites are to update and manage. I never have any problem at all.
                            My new site is so much faster and easier to work with than my old site. It used to take me
                            an hour or more to update a page and I would still sometimes screw things up.
                            Now it's almost like having a designer right here with me. I just choose the page, make the
                            change and click save. It's so simple.
                            Thanks,guys!”</p>
                        <p class="overview"><b>Passang Lepcha</b>, Social Worker</p>
                    </div>
                    {{#each data}}
                    <div class="item carousel-item">
                        <div class="img-box"><img src="\images\proftest.jpeg" alt=""></div>
                        <p class="testimonial">{{this.message}}
                        <p class="overview"><b>{{this.name}}</b></p>
                    </div>
                    {{/each}}
                </div>
                <!-- Carousel Controls -->
                <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>


{{>footer}}