{{>header}}







<div class="hero">

    <img style="margin-bottom: 30px;" src="/images/Back To School Facebook Post(1).png" class="img-fluid" alt="...">




</div>

<div style="padding-top: 30px; margin-left: 30px; margin-right: 30px;" class="card">
    <div class="card-header">
        <h3>About Waglogy</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Who we are.?</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni eveniet maxime ipsa tenetur
            voluptatum. Consequuntur quia, laboriosam veniam,
            modi officia architecto, repudiandae delectus dolor omnis quae deserunt similique aliquam esse.</p>
        <a href="#" class="btn btn-primary">See More</a>
    </div>
</div>

<div style="margin-top: 10px;" class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Services We Provide</button>

</div>

<div style="margin: 30px;" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="/images/webdev.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Web developent</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/images/webapp.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Web-app development</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/images/Graphic-Designer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Graphic designing </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">See More services</button>

</div>

<img style="margin-bottom: 30px;" src="/images/offer.png" class="img-fluid" alt="...">






{{>footer}}