
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <!-- <img src="/Vesperr/img/1.png" /> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="index.html"><img
              src="img/1.png"
              alt=""
              class="img-fluid"
            /></a>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li>
              <a class="nav-link scrollto" href="#portfolio">Portfolio</a>
            </li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>

            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li>
              <a class="getstarted scrollto" href="https://wa.link/do13ed">Get
                Started</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1 data-aos="fade-up">Waglogy a one step tech soltion</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">
              Websites, apps, and software are the heart of your business. They
              connect you with customers worldwide. Waglogy creates
              user-friendly, responsive websites, bringing your successful
              business vision to life. We also offer app and software
              development, along with graphic designing and editing services.
              Let us help you achieve your goals.
            </h2>
            <div data-aos="fade-up" data-aos-delay="800">
              <a
                href="https://wa.link/do13ed"
                class="btn-get-started scrollto"
              >Get Started</a>
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="fade-left"
            data-aos-delay="200"
          >
            <img src="img/hero-img.png" class="img-fluid animated" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients clients">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="img/mud.png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="img/clients/client-2.png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="100"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="img/clients/client-3.png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="200"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="img/clients/client-4.png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="300"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="img/clients/client-5.png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="400"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="img/clients/client-6.png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="500"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Clients Section -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <p>
                Welcome to Waglogy, your one-stop-shop for website development
                and digital marketing services. We are passionate about helping
                businesses grow and thrive in the digital space.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Award Winning</li>
                <li><i class="ri-check-double-line"></i>Professional Team</li>
                <li><i class="ri-check-double-line"></i> 24/7 Support</li>
              </ul>
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <p>
                At Waglogy, we offer a wide range of services to cater to your
                digital requirements. Whether you need a stunning website that
                captivates your audience, a powerful mobile application that
                elevates your business, eye-catching graphic designs that leave
                a lasting impression, professional photography that captures
                your special moments, mesmerizing videography that brings your
                story to life, or engaging animations that enchant your viewers,
                we have got you covered.
              </p>
              <div class="container mt-5">
                <a
                  href="/waglogy/assets/img/Waglogy 2023.pdf"
                  class="btn btn-primary"
                >
                  <i class="bi bi-download"></i>
                  Download Our Brochures
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container">
          <div class="row">
            <div
              class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
              data-aos="fade-right"
              data-aos-delay="150"
            >
              <img src="img/counts-img.svg" alt="" class="img-fluid" />
            </div>

            <div
              class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0"
              data-aos="fade-left"
              data-aos-delay="300"
            >
              <div class="content d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-emoji-smile"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="25"
                        data-purecounter-duration="1"
                        class="purecounter"
                      ></span>
                      <p>
                        <strong>Happy Clients</strong>
                        Waglogy exceeded our expectations with their exceptional
                        website design and development services. We are thrilled
                        with the results!.
                      </p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-journal-richtext"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="30"
                        data-purecounter-duration="1"
                        class="purecounter"
                      ></span>
                      <p>
                        <strong>Projects</strong>
                        Our portfolio showcases the diverse range of projects we
                        have successfully executed, highlighting our commitment
                        to excellence and innovation.
                      </p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-clock"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="2"
                        data-purecounter-duration="1"
                        class="purecounter"
                      ></span>
                      <p>
                        <strong>Years of experience</strong>
                        Waglogy brings a wealth of knowledge and expertise to
                        every project, ensuring exceptional results for our
                        clients.
                      </p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-award"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="5"
                        data-purecounter-duration="1"
                        class="purecounter"
                      ></span>
                      <p>
                        <strong>Awards</strong>
                        Our impressive collection of awards reflects our
                        dedication to delivering outstanding results and our
                        commitment to excellence in every project.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End .content-->
            </div>
          </div>
        </div>
      </section>
      <!-- End Counts Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>What Solutions We Provide</p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-globe-americas"></i></div>
                <h4 class="title">
                  <a href="">Website Design & Devlopment</a>
                </h4>
                <p class="description">
                  Our team of expert web developers can help you build a website
                  that not only looks great but is also user-friendly and
                  responsive.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bi bi-android2"></i></div>
                <h4 class="title">
                  <a href="">Application Design & Devlopment</a>
                </h4>
                <p class="description">
                  Unlock the power of innovation, With our app development
                  service in your mission. From concept to reality, we pave the
                  way, Crafting apps that users will love every day.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bi bi-display"></i></div>
                <h4 class="title">
                  <a href="">Software Devlopment & Solutions</a>
                </h4>
                <p class="description">
                  With a focus on quality, scalability, and user experience, we
                  are dedicated to transforming your ideas into impactful
                  software solutions that propel your business forward.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bi bi-brush"></i></div>
                <h4 class="title"><a href="">Graphics & Editing</a></h4>
                <p class="description">
                  we also offer top-notch graphic design & Editing services.
                  From logos to brochures, we can help you create stunning
                  visuals.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= More Services Section ======= -->
      <section id="more-services" class="more-services">
        <div class="container">
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div
                class="card"
                style="background-image: url('img/wed.jpg')"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">Web Devlopment & Designing</a>
                  </h5>
                  <p class="card-text">
                    Elevate your online presence with stunning Website Design &
                    Development that captures your brand essence and engages
                    your audience.
                  </p>
                  <div class="read-more">
                    <a href="https://wa.link/do13ed"><i
                        class="bi bi-arrow-right"
                      ></i>Chat with us</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div
                class="card"
                style="background-image: url('img/appd.jpg')"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">App Designing & Devlopment</a>
                  </h5>
                  <p class="card-text">
                    Step into the future with cutting-edge App Development that
                    transforms your ideas into interactive and functional mobile
                    experiences.
                  </p>
                  <div class="read-more">
                    <a href="https://wa.link/do13ed"><i
                        class="bi bi-arrow-right"
                      ></i>Chat with us</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div
                class="card"
                style="background-image: url('img/sfd.jpg')"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="card-body">
                  <h5 class="card-title"><a href="">Software Solutions</a></h5>
                  <p class="card-text">
                    Streamline operations and enhance productivity with tailored
                    Software Solutions designed to fit your unique business
                    needs.
                  </p>
                  <div class="read-more">
                    <a href="https://wa.link/do13ed"><i
                        class="bi bi-arrow-right"
                      ></i>Chat with us</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div
                class="card"
                style="background-image: url('img/grd.jpg')"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">Graphics & Editing Solutions</a>
                  </h5>
                  <p class="card-text">
                    From captivating Graphics to precise Editing Solutions, we
                    bring visual brilliance and professionalism to your content.
                  </p>
                  <div class="read-more">
                    <a href="https://wa.link/do13ed"><i
                        class="bi bi-arrow-right"
                      ></i>Chat with us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End More Services Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Features</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-3 col-md-4">
              <div class="icon-box">
                <i class="ri-store-line" style="color: #ffbb2c"></i>
                <h3><a href="">Responsive Web Design</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
              <div class="icon-box">
                <i class="ri-bar-chart-box-line" style="color: #5578ff"></i>
                <h3><a href="">User-Centered UI/UX</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
              <div class="icon-box">
                <i class="ri-calendar-todo-line" style="color: #e80368"></i>
                <h3><a href="">Custom Web Development</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="ri-paint-brush-line" style="color: #e361ff"></i>
                <h3><a href="">E-Commerce Solutions</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-database-2-line" style="color: #47aeff"></i>
                <h3><a href="">Mobile App Development</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-gradienter-line" style="color: #ffa76e"></i>
                <h3><a href="">Content Management Systems (CMS)</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-file-list-3-line" style="color: #11dbcf"></i>
                <h3><a href="">SEO Optimization</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-price-tag-2-line" style="color: #4233ff"></i>
                <h3><a href="">Cross-Platform Compatibility</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-anchor-line" style="color: #b2904f"></i>
                <h3><a href="">Security Enhancements</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-disc-line" style="color: #b20969"></i>
                <h3><a href="">Data Analytics Integration</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-base-station-line" style="color: #ff5828"></i>
                <h3><a href="">Cloud Integration</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-fingerprint-line" style="color: #29cc61"></i>
                <h3><a href="">Technical Support & Maintenance</a></h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Features Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Portfolio</h2>
            <p>
              Exploring Creativity and Innovation: Our Portfolio of Excellence
            </p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-1.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>MUD BEAVERS SIKKIM</h4>
                  <p>WEB</p>
                  <div class="portfolio-links">
                    <a
                      href="img/portfolio/portfolio-1.png"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="App 1"
                    ><i class="bx bx-plus"></i></a>
                    <a
                      href="https://www.mudbeaversikkim.in/"
                      title="More Details"
                    ><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-2.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>AL HOMESTAY</h4>
                  <p>WEB</p>
                  <div class="portfolio-links">
                    <a
                      href="img/portfolio/portfolio-2.png"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Web 3"
                    ><i class="bx bx-plus"></i></a>
                    <a
                      href="https://www.mudbeaversikkim.in/"
                      title="More Details"
                    ><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-3.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>TT HOMESTAY</h4>
                  <p>WEB</p>
                  <div class="portfolio-links">
                    <a
                      href="img/portfolio/portfolio-3.png"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="App 2"
                    ><i class="bx bx-plus"></i></a>
                    <a
                      href="https://teentaleytoursandtravels.com/"
                      title="More Details"
                    ><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Team</h2>
            <p>Meet the Brilliant Minds Behind Our Success.</p>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="img/team/team-1.png" class="img-fluid" alt="" />
                  <div class="social">
                    <a href="https://github.com/Waglogy"><i
                        class="bi bi-github"
                      ></i></a>
                    <a
                      href="https://www.facebook.com/profile.php?id=100088445683614"
                    ><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/waglogy/"><i
                        class="bi bi-instagram"
                      ></i></a>
                    <a href="https://www.linkedin.com/company/waglogy/"><i
                        class="bi bi-linkedin"
                      ></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Bhupesh Sharma</h4>
                  <span>Chief Executive Officer</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="img/team/team-2.png" class="img-fluid" alt="" />
                  <div class="social">
                    <a href="https://github.com/Waglogy"><i
                        class="bi bi-github"
                      ></i></a>
                    <a
                      href="https://www.facebook.com/profile.php?id=100088445683614"
                    ><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/waglogy/"><i
                        class="bi bi-instagram"
                      ></i></a>
                    <a href="https://www.linkedin.com/company/waglogy/"><i
                        class="bi bi-linkedin"
                      ></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Avishek Adhikari</h4>
                  <span>CO-Founder/Software Head</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="img/team/team-2.png" class="img-fluid" alt="" />
                  <div class="social">
                    <a href="https://github.com/Waglogy"><i
                        class="bi bi-github"
                      ></i></a>
                    <a
                      href="https://www.facebook.com/profile.php?id=100088445683614"
                    ><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/waglogy/"><i
                        class="bi bi-instagram"
                      ></i></a>
                    <a href="https://www.linkedin.com/company/waglogy/"><i
                        class="bi bi-linkedin"
                      ></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Pritam Kumar Bhagat</h4>
                  <span>CTO</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="img/team/team-2.png" class="img-fluid" alt="" />
                  <div class="social">
                    <a href="https://github.com/Waglogy"><i
                        class="bi bi-github"
                      ></i></a>
                    <a
                      href="https://www.facebook.com/profile.php?id=100088445683614"
                    ><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/waglogy/"><i
                        class="bi bi-instagram"
                      ></i></a>
                    <a href="https://www.linkedin.com/company/waglogy/"><i
                        class="bi bi-linkedin"
                      ></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Prayesh Sharma</h4>
                  <span>CFO</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->

      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container">
          <div class="section-title">
            <h2>Pricing</h2>
            <p>Solutions Tailored to Your Budget</p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
                <h3>Basic Website</h3>
                <h4>
                  <sup>$</sup>100 - 150<span> (Approx. 2-4 Weeks)</span>
                </h4>
                <ul>
                  <li>Essential pages (Home, About, Services, Contact)</li>
                  <li>responsive design</li>
                  <li>simple navigation</li>
                  <li class="na">Free SEO</li>
                  <li class="na">6 months Free Maintenance</li>
                </ul>
                <div class="btn-wrap">
                  <a
                    href="https://api.whatsapp.com/send?phone=919144599019"
                    class="btn-buy"
                  >Chat With Us Now</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div
                class="box recommended"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <h3>Intermediate Website</h3>
                <h4>
                  <sup>$</sup>250 - 300<span>(Approx. 4-8 Weeks)</span>
                </h4>
                <ul>
                  <li>
                    Basic website features plus additional pages (Portfolio,
                    Blog, Gallery)
                  </li>
                  <li>interactive elements</li>
                  <li>basic CMS integration</li>
                  <li>Free SEO</li>
                  <li class="na">6 months free Maintenance</li>
                </ul>
                <div class="btn-wrap">
                  <a
                    href="https://api.whatsapp.com/send?phone=919144599019"
                    class="btn-buy"
                  >Chat With Us Now</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
                <h3>Advanced Website</h3>
                <h4>
                  <sup>$</sup>600 - 1, 000+<span>(Approx. 8+ Weeks)</span>
                </h4>
                <ul>
                  <li>Custom design</li>
                  <li>
                    complex functionality (E-commerce, user accounts, advanced
                    forms)
                  </li>
                  <li>in-depth SEO</li>
                  <li>integration with third-party services</li>
                  <li>6 months free Maintenance</li>
                </ul>
                <div class="btn-wrap">
                  <a
                    href="https://api.whatsapp.com/send?phone=919144599019"
                    class="btn-buy"
                  >Chat With Us Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Section -->

      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Frequently Asked Questions</h2>
          </div>

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>How do I get started with a project?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                Getting started is easy! Simply reach out to us through our
                contact form, email, or phone. We'll schedule a consultation to
                discuss your project requirements, goals, and expectations, and
                then provide you with a tailored proposal. Q10: Can you provide
                examples of your previous work? A10: Certainly! We have a
                portfolio showcasing some of our past projects. Feel free to
                explore the diverse range of websites, apps, and solutions we've
                developed for our clients. Feel free to customize these
                questions and answers to align with your company's specific
                offerings and approach.
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>
                Do you offer ongoing maintenance and support after the project
                is complete?
              </h4>
            </div>
            <div class="col-lg-7">
              <p>
                Yes, we provide post-launch support and maintenance services to
                ensure that your websites, apps, and software solutions remain
                up-to-date, secure, and optimized for performance.
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>
                How long does it typically take to develop a website or app?
              </h4>
            </div>
            <div class="col-lg-7">
              <p>
                The timeline can vary depending on the complexity and scope of
                the project. A basic website might take a few weeks, while a
                more complex app could take a couple of months. We work closely
                with you to define a realistic timeline for your project.
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>What technologies do you use for development?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                We stay up-to-date with the latest technologies and frameworks
                to provide cutting-edge solutions. Our team is proficient in a
                wide range of technologies, including but not limited to HTML5,
                CSS3, JavaScript, PHP, Python, Java, Swift, and more.
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="500"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>
                How do you ensure the security of the websites and apps you
                develop?
              </h4>
            </div>
            <div class="col-lg-7">
              <p>
                Security is a top priority for us. We follow industry best
                practices to implement robust security measures, including data
                encryption, secure authentication, and regular security audits,
                to ensure your websites and apps are well-protected.
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->
        </div>
      </section>
      <!-- End F.A.Q Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Contact Us</h2>
          </div>

          <div class="row">
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="contact-about">
                <h3>Waglogy</h3>
                <p>
                  Ready to turn your ideas into reality? Have questions or need
                  more information? Reach out to us today and let's start a
                  conversation. We're here to help you every step of the way.
                </p>
                <div class="social-links">
                  <a href="https://github.com/Waglogy"><i
                      class="bi bi-github"
                    ></i></a>
                  <a
                    href="https://www.facebook.com/profile.php?id=100088445683614"
                  ><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/waglogy/"><i
                      class="bi bi-instagram"
                    ></i></a>
                  <a href="https://www.linkedin.com/company/waglogy/"><i
                      class="bi bi-linkedin"
                    ></i></a>
                </div>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 mt-4 mt-md-0"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="info">
                <div>
                  <i class="ri-map-pin-line"></i>
                  <p>Namchi ,Sikkim<br />Chisopani, 737121</p>
                </div>

                <div>
                  <i class="ri-mail-send-line"></i>
                  <p>contact@waglogy.tech</p>
                </div>

                <div>
                  <i class="ri-phone-line"></i>
                  <p>+91 91445 99019</p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-5 col-md-12"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <form
                action="/contact"
                method="post"
                class="php-email-form"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                   <div class="error-message"></div> 
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div> 
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
              &copy; Copyright
              <strong>Waglogy</strong>. All Rights Reserved
            </div>
            <div class="credits">
              Designed & Devloped by
              <a href="https://bhupeshsharma.me/">Bhupesh Sharma & Abhisek
                Adhikari</a>
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
              <a href="#intro" class="scrollto">Home</a>
              <a href="#about" class="scrollto">About</a>
              <a
                href="https://www.privacypolicygenerator.info/live.php?token=FQJXhhec1KnoU14RpmZ1EZBIdzHZIOA6"
              >Privacy Policy</a>
              <a
                href="https://www.termsandconditionsgenerator.com/live.php?token=KRB656L3rJ80XEsSR2KJhlhGR7rVZaPm"
              >Terms of Use</a>
            </nav>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>

    <!-- Main JS File -->
    <script src="js/main.js"></script>