{{>header}}
<br><br><br><br>

<center><div><q>Happy Serving Hours</q>
<p>Bhupesh sharma devloper @waglogy  -<b><q>We dont used to push our ideas on 
  to our clints ,we simply used to make what they want. </q></b></p></div></center>

<br><br><br>
   <h1 style="padding-left:5px ; padding-right:5px;">Sevices We provide</h1>

   <p style="padding-left:30px ; padding-right:30px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, maiores sit error aut illo quia inventore neque velit fugiat modi aliquam eligendi sapiente ullam voluptatibus consectetur tempora quam dolor reprehenderit commodi sequi rerum sunt quidem? Vel id, recusandae numquam praesentium odit,
     labore dolor voluptates eum obcaecati quod dicta sit enim.</p>
 <div class="container">
    <div class="col s12 m7">

      <div class="card horizontal">
        <div class="card-image">
          <img src="/images/website-developmen-servt.jpg" width="300px"class="fadeIn">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title"><h4 style="padding-left: 8px;">Web Devlopment</h4></span>
            <p style="padding-left: 8px; padding-right:3px">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nostrum ipsum, 
              aperiam saepe nulla voluptatibus nam consequatur esse nesciunt labore delectus, 
              cupiditate ut reprehenderit adipisci quo aliquam praesentium libero natus!</p>
          </div>
          <div class="card-action">
            <a style="padding-left: 8px;"href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

<br><br><br>
    <div class="col s12 m7">

      <div class="card horizontal">
        <div class="card-image">
          <img src="/images/web app-serv.png" width="300px"class="fadeIn">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title"><h4 style="padding-left: 8px;">Web-App Devlopment</h4></span>
            <p style="padding-left: 8px; padding-right:3px">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nostrum ipsum, 
              aperiam saepe nulla voluptatibus nam consequatur esse nesciunt labore delectus, 
              cupiditate ut reprehenderit adipisci quo aliquam praesentium libero natus!</p>
          </div>
          <div class="card-action">
            <a style="padding-left: 8px;"href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
<br><br><br>
    <div class="col s12 m7">

      <div class="card horizontal">
        <div class="card-image">
          <img src="/images/graphic-serv.jpeg" width="300px"class="fadeIn">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title"><h4 style="padding-left: 8px;">Graphic Designing</h4></span>
            <p style="padding-left: 8px; padding-right:3px">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nostrum ipsum, 
              aperiam saepe nulla voluptatibus nam consequatur esse nesciunt labore delectus, 
              cupiditate ut reprehenderit adipisci quo aliquam praesentium libero natus!</p>
          </div>
          <div class="card-action">
            <a style="padding-left: 8px;"href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
<br><br><br>
<div class="card-stacked">
          <div class="card-content">
            <span class="card-title"><h4 style="padding-left: 11px;">More Services We Offer</h4></span>
            <p style="padding-left: 8px; padding-right:3px">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nostrum ipsum, 
              aperiam saepe nulla voluptatibus nam consequatur esse nesciunt labore delectus, 
              cupiditate ut reprehenderit adipisci quo aliquam praesentium libero natus! <br>
              To know more about our services ,we are available in <a href="#">Whatsapp</a> 24X7.</p>
          </div>
          <div class="card-action">
            <a style="padding-left: 8px;"href="#">Contact us through mail</a>
          </div>
        </div>


{{>footer}}