{{>header}}
<br><br><br><br>

   <h1 style="padding-left:5px ; padding-right:5px;">Sevices We provide</h1>

   <p style="padding-left:30px ; padding-right:30px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, maiores sit error aut illo quia inventore neque velit fugiat modi aliquam eligendi sapiente ullam voluptatibus consectetur tempora quam dolor reprehenderit commodi sequi rerum sunt quidem? Vel id, recusandae numquam praesentium odit,
     labore dolor voluptates eum obcaecati quod dicta sit enim.</p>
 <div class="container">
    <div class="col s12 m7">

      <div class="card horizontal">
        <div class="card-image">
          <img src="" class="fadeIn">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title"><h4 style="padding-left: 8px;">Web Devlopment</h4></span>
            <p style="padding-left: 8px; padding-right:3px">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nostrum ipsum, 
              aperiam saepe nulla voluptatibus nam consequatur esse nesciunt labore delectus, 
              cupiditate ut reprehenderit adipisci quo aliquam praesentium libero natus!</p>
          </div>
          <div class="card-action">
            <a style="padding-left: 8px;"href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

<br><br><br>
    <div class="col s12 m7">

      <div class="card horizontal" id="fadedfx">

        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title"><h4 style="padding-left: 8px;">Web-App Devlopment</h4> </span>
            <p style="padding-left: 8px; padding-right:3px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate voluptatum, 
              a quae porro et harum cupiditate consectetur unde laboriosam sint non ex voluptatibus! 
              Impedit ad ipsum vel. Deserunt, quae assumenda. </p>
          </div>
          <div class="card-action">
            <a href="#" style="padding-left: 8px;">Contact Us</a>
          </div>
        </div>
        <div class="card-image">
          <img src="/images/webapp.png" class="fadedfx" class="fadedfx">
        </div>
      </div>

    </div>
<br><br><br>
    <div class="col s12 m7">

      <div class="card horizontal">
        <div class="card-image">
          <img src="/images/Graphic-Designer.jpg" class="fadedfx">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title"><h4 style="padding-left: 8px;">Graphic Designing</h4></span>
            <p style="padding-left: 8px; padding-right:3px"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quis nobis. 
              Provident, error sapiente cupiditate numquam itaque repudiandae sed aliquam eligendi
               nulla obcaecati illo ipsam voluptates 
              harum minima! Aspernatur, et.  </p>
          </div>
          <div class="card-action">
            <a href="#" style="padding-left: 8px;">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>




{{>footer}}