{{>header}}

<div class="hero">

    <img style="margin-bottom: 10px; margin-top:0px;" src="/images/studentcor.png" class="img-fluid" alt="...">




</div>

<center style="padding-left: 30px; padding-right:30px;"><p> </p></center>
<br><br>
<center><h3><b>Best sites to learn programming and coding</b></h3></center>
<br>
<br>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Geeks-for greeks
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong> Geeks-for greeks</strong> provide a variety of services for you to learn, thrive and also have fun! Free Tutorials, Millions of Articles, Live, Online and Classroom Courses ,Frequent Coding Competitions ,Webinars by Industry Experts, Internship opportunities and Job Opportunities. Knowledge is power! <a href="">geeksforgeeks</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Java-point
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Java-point.</strong> the hub of java programming languages in which you have various java programming languages concepts such as core java tutorial, sql, javascript, android, c programming language, python, ajax, cloud computing tutorial, servlet, JSP, EJB, JAXB, Struts, Hibernate, Spring, Java Mail, Design Pattern etc. <a href="">javapoint</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        W3school
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-ody">
        <strong>W3schools</strong> is a online school ,provides variety of services for you to learn . <a href="">W3school</a>
    </div>
  </div>
</div>

<br><br>
<center><h3><b>Best youtube channels to learn computer science things</b></h3></center>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-lg-5">
      <h6 class="text-muted">Our Recomandation</h6> 
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
         <a href="#"> Code with harry</a>
          <div class="image-parent">
              <img src="/images/harry.jpeg" width="100px" class="img-fluid" alt="quixote">
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          
          <a href="#"> Thapa technical</a>
          <div class="image-parent">
              <img src="/images/thapa.jpeg" width="100px" class="img-fluid" alt="lay">
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">  
         
         <a href="#"> Dev semplified</a>
          <div class="image-parent">
              <img src="/images/dev.jpeg" width="100px" class="img-fluid" alt="things">
        </li>
      </ul>
    </div>
  </div>
</div>



<br><br>
<center><h4><b>Here you can find notes related to <i><u>computer science engneering</u></i></b></h4></center>
 <br><br>
<center style="padding-left: 30px; padding-right:30px;"><p>
  <h5>Notes will be uploded soon.......</h5><br>
  <h6>for a time being if you want any notes leave a message in our <a href="https://wa.me/9733814168">Whatsapp</a> messenger</h6>
  </center> 







{{>footer}}